<!-- Custom CSS -->
<%= stylesheet_link_tag "pages" %>

<p id="notice"><%= notice %></p>

<h1>Travels</h1>

  <tbody>
    <% @travels.order(:id).each do |travel| %>
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
      <div class="post">
        <h2 class="title"><%= travel.title %></h2>
        <h3 class="content"><%= travel.content %></h3>
      </div>
   </div>   
    <% end %>
  </tbody>

<br>

<!--<%= link_to 'New Travel', new_travel_path %>-->
