<!-- Custom CSS -->
<%= stylesheet_link_tag "pages" %>

<p id="notice"><%= notice %></p>

<h1>Events</h1>

  <tbody>
    <% @events.order(:id).each do |event| %>
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
      <div class="post">
        <h2 class="title"><%= event.event_name %></h2>
        <div class="date_time"><h4><%= event.event_date %>, <%= event.event_time %></h4></div>
        <h3 class="location">Location: <%= event.event_location %>. <%= link_to "Click to map", event.map %></h3>
        <h3 class="content"><%= event.event_content %></h3>
        <br>
        <hr>
      </div>
   </div>   
    <% end %>
  </tbody>

<br>

<!--<%= link_to 'New Event', new_event_path %>-->
