    <!-- Custom CSS -->
    <%= stylesheet_link_tag "pages" %>

<p id="notice"><%= notice %></p>
<div class="post-content">
<h1>Gift Registry</h1>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
  <h3>Coming soon...<h3>
  <!-- <h3>You taking the time and effort to come to our wedding is in itself more than enough. We love having you to join us in this special day for us.</p>
  That said, if you still want to give us something, here are some ideas, off the list gifts are more than welcome! 
  We will be shipping some stuff to start our new life "in style" from the US to Peru, so both sending us something to Rachel's or Ignacio's parents works for us.
  </h3>
 -->  </div>

  <!-- <tbody>
    <% @gifts.order(:id).each do |gift| %>
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
      <tr class="post">
        <h2 class="title"><%= gift.store %></h2>
        <td class="content"><%= gift.link %></td> -->
        <!--<td class="content"><%= gift.country %></td>-->
        
      <!-- </tr>
      <br><hr>
   </div>   
    <% end %>
  </tbody> -->
</div>
<br>

<!--<%= link_to 'New Gift', new_gift_path %>-->


