    <!-- Custom CSS -->
    <%= stylesheet_link_tag "pages" %>

<p id="notice"><%= notice %></p>
<div class="post-content">
<h1>Our Story</h1>

  <tbody>
    <% @stories.order(:id).each do |story| %>
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
      <div class="post">
        <h2 class="title"><%= story.title %></h2>
        <h3 class="content"><%= story.content %></h3>
        <div class="image"><%= image_tag story.image.url(:medium) %></div>
      </div>
      <br>
      <hr>
   </div>   
    <% end %>
  </tbody>
</div>
<br>

<!--<%= link_to 'New Story', new_story_path %>-->
