    <!-- Custom CSS -->
    <%= stylesheet_link_tag "pages" %>

<p id="notice"><%= notice %></p>

<h1>Stories</h1>

  <tbody>
    <% @stories.each do |story| %>
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> 
      <div class="post">
        <h2 class="title"><%= story.title %></h2>
        <h3 class="content"><%= story.content %></h3>
      </div>
   </div>   
    <% end %>
  </tbody>

<br>

<!--<%= link_to 'New Story', new_story_path %>-->
