<!DOCTYPE html>
<html>
  <head>
    <title>Rachel & Ignacio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "pages" %>    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav">
                <%= link_to "Rachel & Ignacio", root_path %>
                <!--<%= link_to "Rachel & Ignacio", "/#{I18n.locale}/" %>-->
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Story", stories_path %></li>
                    <li><%= link_to "Events", events_path %></li>
                    <li><%= link_to "Travel", travels_path %></li>
                    <li><%= link_to "RSVP", rsvp_path %></li>
                    <li><%= link_to "Gifts", gifts_path %></li>
                    <li><%= link_to "Photos", photos_path %></li>                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>  
<!--     <div class="language" id="lang">
      <%= link_to_unless_current "English", locale: "en" %>
      <%= link_to_unless_current "Español", locale: "es" %>
    </div> -->

    <%= yield %>
  </body>
</html>
